body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}
body main {
  display: grid;
  grid-template-rows: auto auto;
  justify-items: center;
}
body main .manual {
  margin: 1em 0;
  text-align: center;
}
body main .manual h1, body main .manual p {
  margin: 0.5em 0;
  padding: 0;
}
body main .board {
  width: 50vh;
  height: 50vh;
  background: lightgrey;
  display: grid;
  grid-gap: 0.3em;
  border: 0.3em solid lightgrey;
}
body main .board div {
  min-width: 3em;
  min-width: 3em;
  background: lightgoldenrodyellow;
  display: grid;
  align-items: center;
  justify-items: center;
  cursor: pointer;
}
body footer {
  display: grid;
  justify-items: center;
  align-items: flex-start;
}
body footer p, body footer span {
  display: inline-block;
}

[data-display=hidden] {
  visibility: hidden;
}

[data-solved=false] {
  background: lightgoldenrodyellow;
}

[data-solved=true] {
  background: palegreen !important;
}
